@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Carme&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Comfortaa, sans-serif;
  background-color: rgba(25, 10, 0, 1);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.nav-links li {
  margin: 0 1.8em;
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 252, 232, 0.8);
  position: relative;
}

.nav-links li.active a {
  color: rgba(255, 132, 12, 1);
}

.nav-links li.active a::before {
  background-color: rgba(255, 132, 12, 1);
  transform: scaleX(1);
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 132, 12, 1);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-links a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-links a:hover {
  color: rgba(255, 132, 12, 1);
}

div.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

div.title > span {
  color: rgba(25, 10, 0, 1);
  font-size: 4em;
  font-family: Carme, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 132, 12, 1);
  letter-spacing: 0.05em;
}

div.title > p {
  text-align: center;
  max-width: 50%;
}

h1 {
  color: #ff840c;
}

h3 {
  display: inline;
  font-size: 2em;
  color: rgba(255, 252, 232, 1);
}

div.title h1 {
  font-size: 3em;
}

div.title p {
  font-size: 1.5em;
  color: #fffce8;
}

div.photo {
  top: 27%;
  left: 20%;
  position: absolute;
  z-index: 1;
}

div.photo img {
  height: 100%;
  width: 100%;
}

div.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 30%;
  left: 60%;
}

div.hardSkills {
  color: #fffce8;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 33px;
}

div.softSkills {
  color: #fffce8;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 33px;
}
