@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Carme&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Comfortaa, sans-serif;
  background-color: rgba(25, 10, 0, 1);
  overflow-x: hidden;
  max-width: 100%;
}

/* Hide the checkbox */
.menu-toggle {
  display: none;
}

.hamburger-button {
  visibility: hidden;
}

/* Styles for the arrow-up button */
.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.arrow-up img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#home,
#aboutme,
#works {
  min-height: 100vh;
}

#contact {
  min-height: 90vh;
}

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  top: 0;
  background-color: rgba(25, 10, 0, 1);
  z-index: 1000;
}

.nav-links li {
  margin: 0 1.8em;
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 252, 232, 0.8);
  position: relative;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 132, 12, 1);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-links a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-links a:hover {
  color: rgba(255, 132, 12, 1);
}

div.title {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 45%;
}

div.title p {
  display: block;
  margin: 0;
  color: rgba(25, 10, 0, 1);
  font-size: 7.5em;
  font-family: Carme, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 132, 12, 1);
  letter-spacing: 0.05em;
}

h4 {
  display: inline;
  font-size: 2.5em;
  color: rgba(255, 252, 232, 0.5);
}

h3 {
  display: inline;
  font-size: 1.8em;
  color: rgba(255, 252, 232, 1);
}

div.getintouch {
  padding: 1.5em 0 0 0;
}

div.getintouch a {
  font-size: 1.5em;
}

.getintouch a:hover {
  color: #c06408;
}

a {
  text-decoration: none;
  color: rgba(255, 132, 12, 1);
}

div.photo {
  top: 50%; /* Adjust this value to vertically center the photo */
  left: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%); /* Center the photo using transform */
}

/* div.photo img {
  height: 100%;
  width: 100%;
} */

.aboutme {
  margin-top: auto;
  margin-bottom: 0;
  position: relative;
}

.aboutme {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.aboutme > span {
  color: rgba(25, 10, 0, 1);
  font-size: 4em;
  font-family: Carme, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 132, 12, 1);
  letter-spacing: 0.05em;
}

.aboutme > p {
  text-align: center;
  max-width: 50%;
  color: rgba(255, 252, 232, 1);
}

h1 {
  margin: 0.3em;
  font-size: 3em;
}

h2 {
  margin-bottom: 0.5em;
  color: rgba(255, 252, 232, 1);
}

.title p {
  color: rgba(255, 252, 232, 1);
  font-size: 1.3em;
  letter-spacing: 2px;
}

.timeline {
  max-width: 34.15em;
  padding-bottom: 5%;
}

.checkpoint {
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

.checkpoint div {
  border: 2px solid #fff;
  border-radius: 1em;
  padding: 1.5em;
}

.checkpoint p {
  color: #ffffff;
  font-size: 1.2em;
}

.checkpoint:nth-child(odd) {
  border-left: 3px solid #fff;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even) {
  border-right: 3px solid #fff;
  padding-right: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
  content: "";
  width: 3em;
  background: #fff;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
  left: 0;
}

.checkpoint:nth-child(even)::before {
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
  content: "";
  background-color: #fff;
  box-shadow: 0 0 0.5em #ffffff;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
  left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
  right: -0.5em;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}

.logo-container img {
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: auto;
  object-fit: contain;
  padding-bottom: 5%;
  transition: transform 0.3s ease;
  flex-basis: calc(12% - 30px);
}

.logo-container img:hover {
  transform: scale(1.5);
}

.logo-container img:hover {
  transform: scale(1.5);
}

/* Works */
.portfolio .content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 45%;
  padding: 1%;
}

.portfolio .content span {
  display: inline;
  color: rgba(25, 10, 0, 1);
  font-size: 4em;
  font-family: Carme, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 132, 12, 1);
  letter-spacing: 0.05em;
}

.portfolio span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgba(25, 10, 0, 1);
  font-size: 4em;
  font-family: Carme, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 132, 12, 1);
  letter-spacing: 0.05em;
}

.portfolio .content p {
  font-size: 1.4em;
  text-align: justify;
  line-height: 1.5em;
  max-width: 80%;
  color: rgba(255, 252, 232, 1);
}

.redirects {
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding: 5%;
  align-items: center;
}

.works img {
  position: relative;
  display: inline-block;
  height: 50%;
  width: 50%;
}

.works {
  display: flex;
  align-items: center;
  padding: 8%;
  justify-content: center;
}

.works img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.works img:hover {
  transform: scale(1.05);
}
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: 100px;
  padding: 5%;
}

.todoapp {
  max-width: 25%;
  height: auto;
  width: 100px;
}

.contact span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgba(25, 10, 0, 1);
  font-size: 4em;
  font-family: Carme, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(255, 132, 12, 1);
  letter-spacing: 0.05em;
}

.container {
  padding-top: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.contact h3 {
  margin: 0;
  display: inline;
}

.pair {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

.pair img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 3%;
}

.pair h3 {
  margin: 0;
}

.form input {
  display: block;
  margin-bottom: 5%;
}

input {
  padding: 5px;
  border: 1px solid #ff840c;
  border-radius: 8px;
  background: rgba(25, 10, 0, 1);
  outline: none;
  color: #fffce8;
  font-size: 1.5em;
}

textarea {
  width: 80%;
  line-height: 10px;
  height: 10%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ff840c;
  background: rgba(25, 10, 0, 1);
  outline: none;
  color: #fffce8;
  font-size: 1.5em;
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 35%;
}

label {
  font-weight: bold;
  font-size: 1.2em;
  color: #fffce8;
  padding-bottom: 1%;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ff840c;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  line-height: 120%;
  width: auto;
  resize: none;
}

button {
  background-color: #ff840c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.3em;
  margin-top: 1em;
}

button:hover {
  background-color: #c06408;
}

/* responsive timeline */
@media (max-width: 1024px) {
  .timeline {
    width: 80vw;
  }

  .timeline .checkpoint {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  .timeline .checkpoint::before {
    width: 3px;
    height: 4em;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline .checkpoint div::before {
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
  }

  div.title {
    display: block;
    text-align: center;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #home,
  #aboutme,
  #works,
  #contact {
    min-height: 100vh;
  }

  .logo-container {
    padding: 0 3% 10% 3%;
    gap: 5%;
  }

  .nav-links {
    font-size: 1.5em;
  }

  .works {
    flex-direction: column-reverse;
    padding: 5% 2% 5% 2%;
  }

  .portfolio .content {
    max-width: 55%;
    padding: 1%;
  }

  .portfolio .content p {
    max-width: 100%;
    padding: 1%;
  }

  .works img {
    width: 60%;
  }

  .container {
    padding: 10% 5% 0 5%;
    gap: 5em;
  }

  form {
    width: 40%;
  }

  label {
    padding-bottom: 3%;
  }

  .pair h3 {
    margin: 0;
    font-size: 1.5em;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 1.1em;
  }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  div.title p {
    font-size: 4.5em;
  }

  .aboutme > span,
  .portfolio > span,
  .contact > span {
    font-size: 3em;
  }

  .arrow-up {
    right: 10px;
  }
  .arrow-up img {
    width: 30px;
    height: 30px;
  }

  h4 {
    margin: 0;
    font-size: 2em;
  }

  h3 {
    font-size: 1.2em;
  }

  div.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-links {
    font-size: 0.8em;
  }

  .timeline {
    padding: 10% 0 5% 0;
  }

  .logo-container img {
    max-width: 80px;
  }

  .pair img {
    max-width: 35px;
    max-height: 35px;
    margin-right: 3%;
  }

  .portfolio .content p {
    max-width: 100%;
    padding: 1%;
    font-size: 1.3em;
  }

  .portfolio .content p {
    font-size: 1em;
  }

  .works img {
    width: 80%;
  }

  .todoapp {
    max-width: 30%;
  }

  .works {
    flex-direction: column-reverse;
    padding: 5% 1% 5% 1%;
  }

  .portfolio .content {
    max-width: 70%;
    padding: 1%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    gap: 1em;
  }

  form {
    width: 65%;
    padding-bottom: 5%;
  }

  label {
    padding-bottom: 1.2%;
    font-size: 1em;
  }

  input {
    font-size: 1em;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 0.5em;
  }

  button {
    font-size: 1em;
    margin-top: 1em;
  }
}

/* Media query for screens larger than 1200px
@media (min-width: 1200px) {
  .arrow-up {
    right: 30px;
  }
  .arrow-up img {
    width: 50px;
    height: 50px;
  } 
}*/

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .logo-container img {
    max-width: 65px;
  }

  .pair h3 {
    margin: 0;
    font-size: 1em;
  }

  .hamburger-button {
    visibility: visible;
  }

  .hamburger-button {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 0 0 10px;
  }

  .nav-links {
    margin: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(25, 10, 0, 0.8);
    width: 100%;
    z-index: 1000;
    padding: 0;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-links a {
    color: rgba(255, 252, 232, 0.8);
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  .nav-links a:hover {
    color: rgba(255, 132, 12, 1);
  }

  /* Toggle the menu using the checkbox */
  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  .menu-toggle:checked ~ .hamburger-button::before {
    content: "\2715"; /* X symbol */
    visibility: visible;
  }
  /* Hide the hamburger icon when the menu is open */
  .menu-toggle:checked ~ .hamburger-button {
    visibility: hidden;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 1.2em;
  }

  .checkpoint div {
    border: 1px solid #fff;
    border-radius: 1em;
    padding: 1em;
  }

  h2 {
    font-size: 1.3em;
  }
}
